
<div id="sliders">
   <div class="slider mt-3" id="slider_0"></div>
</div>
<div class="mt-0" style="text-align: center;     padding-left: 60px;">
<button id="add_component" style="display: none"  class="btn  btn-warning mt-3" type="button">Add a slider</button>
<button id="remove_component" style="display: none"  class="btn  btn-danger mt-3" type="button">Remove last slider</button>

</div>
<div id="binsinput" class="d-flex justify-content-around"></div>

<div id="topchart" class=" text-center" style="display: none">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <input type="radio" class="btn-check" name="mode" id="curve-mode" autocomplete="off" value="curve" checked>
        <label class="btn btn-outline-primary" for="curve-mode">Point mode</label>
        <input type="radio" class="btn-check" name="mode" id="bins-mode" autocomplete="off" value="bins">
        <label class="btn btn-outline-primary" for="bins-mode">Bins mode</label>
    </div>
</div>

<!-- CSS only -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/draggable-points.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.7.0/nouislider.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/10.0.2/math.js"></script>
<script src="/script.js"></script>
